*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* for navbar */


.logo{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-size: 2vw;
}


.navbar_elements{
    font-weight: 400;   
    font-family: "Teko", sans-serif;
    font-size: 1.5svw;
}


.carousel{
    height: 90vh;
    width: 100vw;
    background-color: aqua;
}

/* for cords */

.cards{
    height: 50vh;
    width: 100vw;
    background-color: aquamarine;
}

.cards_odd p ,.cards_odd h5 {
    color: black;
}


/* for about_us */
/* .about_us{
    height: 100vh;
    width: 100vw;
    background-color: #808080;
} */

/* for contact */
.Contact{
    height: 80vh;
    width: 100vw;
    background-color: aqua;
    background-image: url(PHOTOS/contact_image.jpg);
    background-size: cover;
}

.form{

}

/* for footer */

footer{
    height: 40vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

footer h2{
    font-size: 1.2vw;
}

footer h3{
    font-size: 1vw;
}

footer a{
    text-decoration: none;
    color: #808080;
}