*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* for navbar */


.logo{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-size: 2vw;
}


.navbar_elements{
    font-weight: 400;   
    font-family: "Teko", sans-serif;
    font-size: 1.5vw;
    transition: transform .2s;
}


.navbar_elements:hover{
    transform: scale(1.2);    
}

/* for carousel */

.carousel{
    height: 90vh;
    width: 100vw;
    background-color: aqua;
}

/* for cards */
.card{
    border: none;
    transition: transform 0.3s;
}

.card:hover{
    transform: scale(1.02);
}

.cards{
    height: 50vh;
    width: 100vw;
    background-color: aquamarine;
}

.cards_odd p ,.cards_odd h4 {
    color: black;
}

/* for cards content */

.cards_content{
    height: 100%;
    width: 30vw;
    /* background-color: #808080; */
}

.cards_content h4{
    font-size: 35px;
}

.cards_content p{
    margin-top: 100px;
}

.shopbtn{
    padding: 5px 35px;
    font-size: 14px;
    border: none;
    transition: transform 0.3s;
}

.shopbtn:hover{
    transform: scale(1.1);
}

.cards_2_body{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f6f6f6ef;
}

.card_btn{
    border-radius: 10px;
    background-color: black;
}

/* for contact */
.Contact{
    height: 80vh;
    width: 100vw;
    background-color: aqua;
    background-image: url(PHOTOS/contact_image.jpg);
    background-size: cover;
}

.form{

}

/* for footer */

footer{
    height: 40vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

footer h2{
    font-size: 1.2vw;
}

footer h3{
    font-size: 1vw;
}

footer a{
    text-decoration: none;
    color: #808080;
}